@import "@/shared/styles/mixins.scss";

.loginFormContainer {
  @include flex-center;
  min-height: calc(100vh - 260px);
  padding: 48px $spacing-lg;
  background-color: $bg-primary;
}

.loginForm {
  width: 100%;
  max-width: 640px;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.title {
  margin: 0 0 24px 0;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  color: #15161d;
}

.formGroup {
  margin-bottom: 16px;
}

.input {
  @include input-base;
  height: 48px;
  border-radius: 3px;
  border-color: #e4e7ed;
  background-color: #fff;

  &::placeholder {
    color: #b9babc;
  }
}

.inputError {
  border-color: $error-color;
}

.errorText {
  display: block;
  margin-top: $spacing-xs;
  font-size: $font-size-small;
  color: $error-color;
}

.errorMessage {
  padding: $spacing-md;
  background-color: #fff5f5;
  border: 1px solid $error-color;
  border-radius: 3px;
  color: $error-color;
  margin-bottom: $spacing-md;

  p {
    margin: 0;
    font-size: $font-size-small;
  }
}

.submitButton {
  @include button-base;
  width: 100%;
  margin-top: 12px;
  height: 48px;
  padding: 0 $spacing-md;
  background-color: #15161d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;

  &:hover:not(:disabled) {
    background-color: #1f2028;
  }

  &:disabled {
    opacity: 0.7;
  }
}

@include mobile {
  .loginFormContainer {
    padding: 32px $spacing-md;
  }

  .loginForm {
    max-width: 100%;
  }
}
